body {
  background-color: rgb(22, 23, 26);
}

#text {
  background-color: rgb(34, 34, 49);
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: rgb(175, 173, 179);
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: rgb(138, 43, 43);
}

.stat {
  padding-right: 10px;
}
